{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}



    

{% block content %}
<body class="b" style="background-image: url('/static/images/hp.jpg');
                       background-repeat: no-repeat;
                       background-size: cover;
                       background-position: center top;">
                       
                       
                     <div class="container mt-5">
                        <div class="row justify-content-center">
                          <div class="col-md-5">
                            <div style="margin-top: 90px; margin-left: 50px;">
                            <div class="jumbotron p-3 d-inline-block text-center">
                              <img src="/static/images/oo.jfif" style="width: 100%; height: 100%; ">
                            </div></div>
                          </div>
                        </div>
                      </div>
                      
{% endblock %}</body>