

{% include 'home/layout.html'%}
    {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
    <style>
        .transparent-alert {
  opacity: 3;
  transition: opacity 0.3s ease-in-out;
}

.transparent-alert.show {
  opacity: 4;
}


    </style>
  <div class="row">
        <div class="col-sm-2"></div>

        <!-- content goes here -->
        <div class="col-sm-8 pt-5 " >
            <div class="container ">
                <div class="row">
                    <div class="col md-12">
                        <div class="jumbotron p-3 d-flex align-items-center justify-content-between">
                            <b>Liste de Clients</b>
                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                          

{%with messages = get_flashed_messages()%}
{%if messages%}
{% for message in messages %}
<div class="alert alert-info alert-dismissable fade show transparent-alert" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}


{%endif%}
{%endwith%}



<!-- Enter New Student Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Nouveau Client</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              

            <div class="modal-body">
                
                <form action="{{ url_for('insert')}}" method="POST">
                    <div class="form-group">
                      <label>Nom</label>
                      <input type="text" name="Nom" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" name="prenom" class="form-control" id="exampleFormControlInput1" >
                    </div>

                    <div class="form-group">
                        <label>Telephone</label>
                        <input name="phone" type="text" class="form-control" id="exampleFormControlInput1" >
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input name="Email" type="text" class="form-control" id="exampleFormControlInput1" >
                      </div>
                      <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                 
                  </form>


            </div>
        </div>
    </div>

</div>


<!-- End of Enter New Student Modal -->




<table class="table table-hover" id="datachambre">
<thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Telephone</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    {% for row in clients %}
    <tr>
    <td>{{row.1}}</td>
    <td>{{row.2}}</td>
    <td>{{row.3}}</td>
    <td>{{row.4}}</td>
    <td>
        <a href="/update/{{row.0}}" class="text-success" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fas fa-edit"></i></a>
        <a href="/delete/{{ row.0 }}" onclick="return confirm('vous ete sure?')" class="text-danger "><i class="fas fa-trash-alt"></i></a>

    </td>
</tr>


    <!-- Enter New Student Modal -->
    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Modification d'un client</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  

                <div class="modal-body">
                    
                    <form action="{{ url_for('update')}}" method="POST">
                        <input type="hidden" name="id_cl" value="{{row.0}}">
                        <div class="form-group">
                          <label>Nom</label>
                          <input value="{{row.1}}" type="text" name="Nom" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name">
                        </div>

                        <div class="form-group">
                            <label>Prenom</label>
                            <input value="{{row.2}}" type="text" name="prenom" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label>Telephone </label>
                            <input value="{{row.3}}" name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
                          </div>
                          <div class="form-group">
                            <label>Email </label>
                            <input value="{{row.4}}" name="Email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
                          </div>
                          <button type="submit" class="btn btn-success mb-2">Modifier</button>
                     
                      </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Edit Student Modal -->




    {% endfor %}
</tbody>

</table>
        </div>
        <!-- Content ends here-->

{%endblock%}
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
        <div class="col-sm-2"></div>
        <script>
            $(document).ready(function() {
    $('#datachambre').DataTable({
        // autres options de configuration...
        language: {
    url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
}

    });
});

          </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              const alerts = document.querySelectorAll(".transparent-alert");
              alerts.forEach(function(alert) {
                setTimeout(function() {
                  alert.classList.remove("show");
                }, 3000);
              });
            });
          </script>
            
    </div>
</div>
