

{% include 'home/layout.html'%}<div class="container-fluid">
    <html lang="fr">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
    {% block content %}
    <div class="row">
        <div class="col-sm-2"></div>

        <!-- content goes here -->
        <div class="col-sm-8 pt-5 " >
          <div class="container ">
              <div class="row">
                  <div class="col md-12">
                      <div class="jumbotron p-3 d-flex align-items-center justify-content-between">
                          <b>Liste de hotels</b>
                          <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
{%with messages = get_flashed_messages()%}
{%if messages%}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
</button>
{{message}}
</div>
{%endfor%}
{%endif%}
{%endwith%}



<!-- Enter New Student Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Nouveau Hotel</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              

            <div class="modal-body">
                
                <form action="{{ url_for('insert_h')}}" method="POST">
                    <div class="form-group">
                      <label>Nom</label>
                      <input type="text" name="Nom_h" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Adresse</label>
                        <input type="text" name="Adresse" class="form-control" id="exampleFormControlInput1" >
                    </div>

                    <div class="form-group">
                        <label>Ville</label>
                        <input name="Ville" type="text" class="form-control" id="exampleFormControlInput1" >
                      </div>
                      <div class="form-group">
                        <label>Pays</label>
                        <input name="Pays" type="text" class="form-control" id="exampleFormControlInput1" >
                      </div>
                      <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                 
                  </form>


            </div>
        </div>
    </div>

</div>


<table class="table table-bordered table-striped" id="datahotel">
<thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Ville</th>
        <th scope="col">Pays</th>
        <th scope="col-sm-6">Action</th>
    </tr>
</thead>
<tbody>
    {% for row in hotels %}
    <tr>
    <td>{{row.1}}</td>
    <td>{{row.2}}</td>
    <td>{{row.3}}</td>
    <td>{{row.4}}</td>
    <td>
        <a href="/update_h/{{row.0}}" class="text-primary" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fas fa-edit"></i></a>
        <a href="/delete_h/{{ row.0 }}" onclick="return confirm('vous ete sure?')" class="text-danger "><i class="fas fa-trash-alt"></i></a>

    </td>
</tr>


    <!-- Enter New Student Modal -->
    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Modification d'un Hotel</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  

                <div class="modal-body">
                    
                    <form action="{{ url_for('update_h')}}" method="POST">
                        <input type="hidden" name="id_h" value="{{row.0}}">
                        <div class="form-group">
                          <label>Nom</label>
                          <input value="{{row.1}}" type="text" name="Nom_h" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name">
                        </div>

                        <div class="form-group">
                            <label>Adresse</label>
                            <input value="{{row.2}}" type="text" name="Adresse" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label>Ville </label>
                            <input value="{{row.3}}" name="Ville" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
                          </div>
                          <div class="form-group">
                            <label>Pays </label>
                            <input value="{{row.4}}" name="Pays" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
                          </div>
                          <button type="submit" class="btn btn-success mb-2">Modifier</button>
                     
                      </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Edit Student Modal -->




    {% endfor %}
</tbody>

</table>
        </div>
        <!-- Content ends here-->
        
{%endblock%}
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

        <div class="col-sm-2"></div>
        
          <script>
            $(document).ready(function() {
    $('#datahotel').DataTable({
        // autres options de configuration...
        language: {
    url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
}

    });
});

          </script>
    </div>
</div>
