

{% include 'home/layout.html'%}<div class="container-fluid">
    <html lang="fr">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
    {% block content %}
    <div class="row">
        <div class="col-sm-2"></div>

        <!-- content goes here -->
        <div class="col-sm-8 pt-5 " >
            <div class="container ">
                <div class="row">
                    <div class="col md-12">
                        <div class="jumbotron p-3 d-flex align-items-center justify-content-between">
                            <b>Liste de Reservations</b>
                            <a class=" btn btn-danger" href="{{ url_for('exportpdf') }}">
                                <i class="fas fa-file-pdf"></i>
                              </a>
                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
{%with messages = get_flashed_messages()%}
{%if messages%}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
</button>
{{message}}
</div>
{%endfor%}
{%endif%}
{%endwith%}



<!-- Enter New Student Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Nouvelle reservation</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              

            <div class="modal-body">
                
                <form action="{{ url_for('insert_r')}}" method="POST">
                    <div class="form-group">
                        <select class="form-control" aria-label="Default select example" name="id_c">
                            {% for p in chambres %}
                            <option  selected  value="{{ p[0] }}">{{ p[1] }}</option>
                            {%endfor%}
                          </select></div>
                    <div class="form-group">
                      <label>Date Entree</label>
                      <input type="date" name="DateDep" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Date Sortie</label>
                        <input type="date" name="DateArr" class="form-control" id="exampleFormControlInput1" >
                    </div>

                    <div class="form-group">
                        <label>Client</label> 
                        <select class="form-control" aria-label="Default select example" name="id_cl">
                            {% for p in clients %}
                            <option  selected  value="{{ p[0] }}">{{ p[1] }}</option>
                            {%endfor%}
                          </select></div>
                      
                      <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                 
                  </form>


            </div>
        </div>
    </div>

</div>


<table class="table table-bordered table-striped" id="datachambre">
<thead>
    <tr>
        <th scope="col">Prix</th>
        <th scope="col">Client</th>
        <th scope="col">Date Entree</th>
        <th scope="col">Datte Sortie</th>
        
        <th scope="col-sm-6">Action</th>
    </tr>
</thead>
<tbody>
    {% for row in reservations %}
    <tr>
    <td>{{row.1}}</td>
    <td>{{row.2}}</td>
    <td>{{row.3}}</td>
    <td>{{row.4}}</td>
    <td>
        <a href="/update_r/{{row.0}}" class="text-primary" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fas fa-edit"></i></a>
        <a href="/delete_r/{{ row.0 }}" onclick="return confirm('vous ete sure?')" class="text-danger "><i class="fas fa-trash-alt"></i></a>

    </td>
</tr>


    <!-- Enter New Student Modal -->
    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Modification d'une reservation</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  

                <div class="modal-body">
                    
                    <form action="{{ url_for('update_r')}}" method="POST">
                        <input type="hidden" name="id_r" value="{{row.0}}">
                        <div class="form-group">
                            <label>Prix</label>
                            <select class="form-control" aria-label="Default select example" name="id_c">
                                {% for p in chambres %}
                                <option  selected  value="{{ p[0] }}">{{ p[1] }}</option>
                                {%endfor%}
                              </select></div>
                        
                        <div class="form-group">
                            <label>Date Depart</label>
                            <input value="{{row.3}}" type="date" name="DateDep" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name">
                          </div>

                        <div class="form-group">
                            <label>Date Arrivee</label>
                            <input value="{{row.4}}" type="date" name="DateArr" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label>Client</label> 
                            <select class="form-control" aria-label="Default select example" name="id_cl">
                                {% for p in clients %}
                                <option  selected  value="{{ p[0] }}">{{ p[1] }}</option>
                                {%endfor%}
                              </select></div>
                          
                          <button type="submit" class="btn btn-success mb-2">Modifier</button>
                     
                      </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Edit Student Modal -->




    {% endfor %}
</tbody>

</table>
        </div>
        <!-- Content ends here-->
        
{%endblock%}
<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

        <div class="col-sm-2"></div>
        
          <script>
            $(document).ready(function() {
    $('#datachambre').DataTable({
        // autres options de configuration...
        language: {
    url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
}

    });
});

          </script>
    </div>
</div>

