{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<body class="b" style="background-image: url('/static/images/hot.jpg');
                       background-repeat: no-repeat;
                       background-size: cover;
                       background-position: center top;">
<div class="login">
    {% include "includes/alert.html" %}
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post" style="border-radius: 2px; ">
        <label for="Nom d'utilisateur">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Nom" id="username" required>
        <label for="Mot de passe">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="mot de passe" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}