{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<body class="b" style="background-image: url('/static/images/hot.jpg');
                       background-repeat: no-repeat;
                       background-size: cover;
                       background-position: center top;">
<div class="register">
	{% include "includes/alert.html" %}
    <h1>Register</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="Nom de l'utilisateur">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Nom" id="username" required>
        <label for="Mot de passe">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="mot de passe" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}